@{
    ViewData["Title"] = "Home";
}

<div class=" text-center">
    <h1 class="display-4">Sejam Bem Vindos!</h1>
    <p>Esse é o projeto final da 4ºAcademia Atos de .NET realizado pela UFN.</p>
    <p>Nesse projeto foram utilizados MVC e Entity.</p>
</div>
