@{
    ViewData["Title"] = "Cadastrar Carro";
}
<div class="container mt-5 pt-3 w-25">
    <form>
        <fieldset>
            <legend>Cadastrar Carros</legend>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Marca">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Modelo">
            </div>
            <div class="mb-3">
                <label class="form-label">Categoria</label>
                <select class="form-select">                  
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Cadastrar</button>
        </fieldset>
    </form>
</div>